body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



/* #region header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 76px;
}

.page-logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-logo-header-web {
    color: #4D5AE5;
}
.page-nav {
/* margin-right: 336px; */
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-item-link {
    display: block;
    padding: 24px 0px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: #404BBF;
}

.page-address {
 font-style: normal;
}

.address-list {

    display: flex;
    gap: 40px;
}

.address-list-item {

}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}


/* #endregion header */

/* #region hero section */

.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient( to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 188px 0px;
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border: none;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero section */

/* #region about section */

.features {

}

.features-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;

}

.features-list {
display: flex;
gap: 24px;


}
 
.features-list-item {
    width: calc((100% -72px)/4);

}

.features-icon {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-icon svg {
    display: block;
    margin: 24px auto;
    width: 64px;
    height: 64px;
}

.features-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.features-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
/* #endregion about section */

/* #region team section */

.team-section {
background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-list-card {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column; 
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-list-card img {

}

.team-title-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px; 
    padding: 32px 16px;
}

.team-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* .social-icon-container {
    ma
} */
.social-icon-list {
    display: flex;
    gap: 24px; 
}

.social-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404BBF;
}

.social-icon-link svg {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}

/* #endregion team section */

/* #region portfolio section */
.portfolio-section {

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-list-card {
    display: flex;
    flex-direction: column
}
.portfolio-list-card img {
    /* margin-bottom:32px; */
}

.portfolio-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.portfolio-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/* #endregion portfolio section */

/* #region footer section */
.footer-section {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.page-logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;


}

.page-logo-footer-web {
    color: #4D5AE5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}
/* #endregion footer section */